{% extends 'layouts/base.html' %}

{% block title %}
PRODUCT List
{% endblock %}

{% block body_content %}
<h1>Product List</h1>
<h5><a href="{% url 'product.create' %}">Add New</a></h5>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>S.No</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in app_users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.middle_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="#">Edit</a>
                <a href="#">Show</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}     
    </tbody>
</table>
{% endblock %}